{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }}</h2>

<div id="balance">
    <h4>Balance: {{ user.balance }}</h5>
</div>

<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} for ${{ ticket.price }} with {{ ticket.quantity }} remaining, contact {{ ticket.email }}</h4>
    </div>
{% endfor %}
</div>

<br>
<h3>Sell a Ticket</h3>
<h4 id='message'>{{sell_message}}</h4>
<form action="/sell" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" name="name" id="name" required>
      <label for="quantity">Quantity</label>
      <input class="form-control" name="quantity" id="quantity" required>
      <label for="price">price</label>
      <input class="form-control" name="price" id="price" required>
      <label for="date">expiration date</label>
      <input class="form-control" type="date" name="date" id="date" required>
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Sell Ticket">
    </div>
</form>

<br>
<h3>Buy a Ticket</h3>
<h4 id='message'>{{buy_message}}</h4>
<form action="/buy" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="name" required>
    <label for="quantity">Quantity</label>
    <input class="form-control" name="quantity" id="quantity" required>
    <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Buy Ticket">
  </div>
</form>

<br>
<h3>Update a Ticket</h3>
<h4 id='update-message'>{{update_message}}</h4>
<form action="/update" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" name="name" id="update-name" required>
    <label for="quantity">Quantity</label>
    <input class="form-control" name="quantity" id="update-quantity" required>
    <label for="price">price</label>
    <input class="form-control" name="price" id="update-price" required>
    <label for="date">expiration date</label>
    <input class="form-control" type="date" name="date" id="update-date" required>
    <input class="btn btn-lg btn-primary" type="submit" id="update-btn-submit" value="Update Ticket">
  </div>
</form>


<a href='/logout'>logout</a>
{% endblock %}