{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.name }} !</h2>

<div id="balance">
    <h4>Balance: {{ user.balance }}</h5>
</div>

<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} for ${{ ticket.price }} with {{ ticket.quantity }} remaining, contact {{ ticket.email }}</h4>
    </div>
{% endfor %}
</div>

<form method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" name="name" id="name" required>
      <label for="quantity">Quantity</label>
      <input class="form-control" name="quantity" id="quantity" required>
      <label for="price">price</label>
      <input class="form-control" name="price" id="price" required>
      <label for="date">expiration date</label>
      <input class="form-control" type="date" name="date" id="date" required>
      <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Submit or Update Ticket">
    </div>
  </form>

<a href='/logout'>logout</a>
{% endblock %}