{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Log In{% endblock %}</h1>
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" id="email" required
    oninvalid="this.setCustomValidity('email format is incorrect.')"
    oninput="this.setCustomValidity('')">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password"  required
    oninvalid="this.setCustomValidity('password format is incorrect.')"
    oninput="this.setCustomValidity('')">
    <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Log In">
  </div>
</form>
<a href='/register'>Register</a>
{% endblock %}