astroid
atomicwrites
attrs
certifi
cffi
click
Flask
Flask-SQLAlchemy
importlib-metadata
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
more-itertools
packaging
pluggy
py
pycparser
pylint
pyparsing
pytest
six
SQLAlchemy
typed-ast
wcwidth
Werkzeug
wrapt
zipp

flask-pytest
seleniumbase